# Dependencies
node_modules/

# Build Outputs
dist/
release/

# Environment Variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Testing / Coverage
coverage/

# Editor / IDE Settings
.vscode/
.idea/
*.swp
*.swo

# OS System Files
.DS_Store
Thumbs.db
ehthumbs.db

# WASI SDK (large files)
packet-c/wasi-sdk*.tar.gz
packet-c/wasi-sdk-*/